.rounded-corners {
    border-radius: 12px;
}

.panel-heading {
    border-bottom: 1px solid #ededed !important;
}

.search-box {
    width: 30%; 
    margin-left: auto;
    position: relative;
}

input[type="text"] {
    border-radius: 12px;
}

.sidebar {
    position: sticky; 
    height: 98vh; 
    overflow-y: auto; 
    top: 5px; 
    padding: 1rem;
}
