<div class="sidebar">
  <aside class="menu mb-4">
    <p class="menu-label">
      ADMIN
    </p>
    <ul class="menu-list">
      <li>
        <a href="{% url 'redis_metrics_categorize' %}" ><i class="fas fa-plus" style="width: 20px;"></i> Create Category</a>
      </li>
      <li>
        <a href="{% url 'redis_metric_aggregate' %}"><i class="fas fa-chart-bar" style="width: 20px;"></i> Metric Aggregates</a>
      </li>
      <li>
        <a href="{% url 'redis_metrics_gauges' %}"><i class="fas fa-chart-pie" style="width: 20px;"></i> Gauges</a>
      </li>
    </ul>
  </aside>

{% if metrics %}
{% for category, slugs in metrics.items %}
<article class="panel is-white">
    <h3 class="panel-heading pb-2">
      <a href="{% url 'redis_metric_aggregate_detail_by_category' category %}"
          title="{{ category }}">{{ category }}</a>

      <a href="{% url 'redis_metrics_categorize' category %}"
          class="is-pulled-right" title="Edit {{ category}}">
          <i class="far fa-edit"></i></a>
    </h3>
      {% for slug in slugs %}
          <a class="panel-block px-4" title="{{ slug }}" href="{% url 'redis_metric_detail' slug %}">
            {{ slug|truncatechars:28 }}</a>
      {% endfor %}
</article>
{% endfor %}
{% else %}
    <p>There are No Metrics</p>
{% endif %}
</div>
