{% load redis_metrics_filters %}
{% load static %}

<div class="chart">
  <canvas id="metric-history-{{ slug }}"></canvas>
</div>
<script type="text/javascript" src="{% static 'redis_metrics/js/Chart.min.js' %}"></script>
<script type="text/javascript">
var ctx = document.getElementById("metric-history-{{slug}}").getContext("2d");
var options = {animation:false, responsive: true};
var data = {
  labels: [
    {% for k,v in metric_history %}'{{ k|strip_metric_prefix }}',{% endfor %}
  ],
  datasets: [
    {
        label: "{{ slug }}",
        fillColor: "rgba(220,110,110,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,110,110,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: [{% for k,v in metric_history %}{{v|default:0}},{% endfor %}]
    },
  ]
};
var chart = new Chart(ctx).Line(data, options);
</script>

{% if with_data_table %}
<table>
    <caption>
      <code>{{ slug }}</code> {{ granularity }} metrics
      {% if since %} since {{ since }}{% endif %}
    </caption>
    <thead>
        <tr><th>Key</th><th>Value</th></tr>
    </thead>
    <tbody>
        {% for key, value in metric_history %}
            <tr>
                <td>{{ key|strip_metric_prefix }}</td>
                <td class="value">{{ value|default_if_none:"-" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
