{% load url from future %}

{% if metrics %}
{% for category, slugs in metrics.items %}
    <h2>
        <a href="{% url 'redis_metrics_categorize' category %}"
           title="Edit {{ category}}">{{ category }}</a>
    </h2>
    <ul>
    {% for slug in slugs %}
        <li>
            <a href="{% url 'redis_metric_detail' slug %}">{{ slug }}</a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
{% else %}
    <p>There are No Metrics</p>
{% endif %}

<h2>Admin</h2>
<ul>
<li><a href="{% url 'redis_metrics_categorize' %}">Create Category</a></li>
<li><a href="{% url 'redis_metric_aggregate' %}">View Metric Aggregates</a></li>
<li><a href="{% url 'redis_metrics_gauges' %}">View Gauges</a></li>
</ul>
