{% extends "redis_metrics/base.html" %}
{% load url from future %}

{% block content %}
    <h1>Aggregate</h1>
    <ul class="breadcrumb">
    <li><a href="{% url 'redis_metrics_list' %}">Metrics List</a></li>
    <li class="active">Aggregate Metrics</li>
    </ul>

    {% if form %}
        <form action="" method="post">{% csrf_token %}
        <p>Select the metrics that you wish to view:</p>
        {{ form.as_p }}
        <p><input type="submit" value="View Metrics"/></p>
        </form>
    {% endif %}
{% endblock %}
