{% extends "redis_metrics/base.html" %}
{% load url from future %}
{% load redis_metric_tags %}
{% load redis_metrics_filters %}
{% load static %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'redis_metrics/js/zepto.min.js' %}"></script>
<script type="text/javascript" src="{% static 'redis_metrics/js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'redis_metrics/js/Colors.js' %}"></script>
{% endblock %}

{% comment %}

NOTE: This template gets a `metric_history` context that's organized like so:

  metric_history = {
      'periods': ['y:2012', 'y:2013', 'y:2014']
      'data': [
        {
          'slug': 'bar',
          'values': [1, 2, 3]
        },
        {
          'slug': 'foo',
          'values': [4, 5, 6]
        },
  }

{% endcomment %}


{% block content %}
    <h1>Aggregate History</h1>
    <ul class="breadcrumb">
    <li><a href="{% url 'redis_metrics_list' %}">Metrics List</a></li>
    <li><a href="{% url 'redis_metric_aggregate' %}">Select Metrics</a></li>
    <li><a href="{% url 'redis_metric_aggregate_detail' slugs|join:"+" %}">Detail</a></li>
    <li class="active">{{ granularity }} history</li>
    </ul>

    <ul class="subnav history">
    <li><a href="{% url 'redis_metric_aggregate_history' slugs|join:"+" 'seconds' %}">Seconds</a></li>
    <li><a href="{% url 'redis_metric_aggregate_history' slugs|join:"+" 'minutes' %}">Minutes</a></li>
    <li><a href="{% url 'redis_metric_aggregate_history' slugs|join:"+" 'hourly' %}">Hourly</a></li>
    <li><a href="{% url 'redis_metric_aggregate_history' slugs|join:"+" 'daily' %}">Daily</a></li>
    <li><a href="{% url 'redis_metric_aggregate_history' slugs|join:"+" 'weekly' %}">Weekly</a></li>
    <li><a href="{% url 'redis_metric_aggregate_history' slugs|join:"+" 'monthly' %}">Monthly</a></li>
    <li><a href="{% url 'redis_metric_aggregate_history' slugs|join:"+" 'yearly' %}">Yearly</a></li>
    </ul>

    {% metrics_since slugs 5 "aggregate_history" granularity %}

    <div id="chart_div"><canvas id="chart"></canvas></div>
    <script type="text/javascript">
    var ctx = document.getElementById("chart").getContext("2d");
    var options = {animation:false, responsive: true, datasetFill: false};
    var data = {
      labels: {{metric_history.periods|json}},
      datasets: [
        {% for d in metric_history.data %}
        {
            label: '{{d.slug}}',  {# the metric key, eg. time period #}
            fillColor: Color({{forloop.counter0}}).fillColor,
            strokeColor: Color({{forloop.counter0}}).fillColor,
            highlightFill:Color({{forloop.counter0}}).highlightFill,
            highlightStroke:Color({{forloop.counter0}}).highlightFill,
            pointColor: Color({{forloop.counter0}}).fillColor,
            pointStrokeColor: "#fff",
            pointHighlightFill: Color({{forloop.counter0}}).highlightFill,
            pointHighlightStroke: "#eee",
            data: {{ d.values|json }}
        },
        {% endfor %}
      ]
    };

    var chart = new Chart(ctx).Line(data, options);
    $("#chart_div").append(chart.generateLegend());
    </script>

{% endblock %}
