{% extends "redis_metrics/base.html" %}

{% block titletext %}Aggregate Metrics{% endblock %}
{% block breadcrumb %}
    <li class="is-active"><a>Aggregate Metrics</a></li>
{% endblock %}

{% block content %}
    {% if form %}
        <form action="" method="post">
        {% csrf_token %}
        <p>Select the metrics that you wish to view:</p>
        <div class="field">
            <label class="label">Metrics</label>
            <div class="control">
        <div class="columns is-multiline">
        {% for slug, choice in form.metrics.field.choices %}
        <div class="column is-3-desktop is-4-tablet is-2-mobile">
            <label class="checkbox" style="width: 100%;" for="id_options_{{ forloop.counter0 }}">
                <div class="box">
                    <div class="columns">
                        <div class="column is-1">
                            <input type="checkbox" id="id_options_{{ forloop.counter0 }}" value="{{ slug }}" name="metrics" />
                        </div>
                        <div class="column">
                            {{ choice }}
                        </div>
                    </div>
                </div>
            </label>
        </div>
        {% endfor %}
        </div>
        </div>
        </div>
        <p><input type="submit" value="View Metrics" class="button is-primary mt-2"/></p>
        </form>
    {% endif %}
{% endblock %}
