{% extends "redis_metrics/base.html" %}
{% load url from future %}
{% load redis_metric_tags %}

{% block content %}
    <h1>Aggregate History</h1>
    <ul class="breadcrumb">
    <li><a href="{% url 'redis_metrics_list' %}">Metrics List</a></li>
    <li><a href="{% url 'redis_metric_aggregate' %}">Select Metrics</a></li>
    <li><a href="{% url 'redis_metric_aggregate_detail' slugs|join:"+" %}">Detail</a></li>
    <li class="active">{{ granularity }} history</li>
    </ul>

    <ul class="subnav history">
    {% for g in granularities %}
    <li><a href="{% url 'redis_metric_aggregate_history' slugs|join:"+" g %}">{{ g|title }}</a></li>
    {% endfor %}
    </ul>

    {# Menu for viewing metrics at different levels #}
    {% metrics_since slugs 5 "aggregate_history" granularity %}

    {# Show the chart #}
    {% aggregate_history slugs granularity since True %}

{% endblock %}
