{% extends "redis_metrics/base.html" %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block titletext %}Categorize{% endblock %}
{% block breadcrumb %}
    <li class="is-active"><a>Categorize Metrics</a></li>
{% endblock %}

{% block content %}
    {% if form %}
        <form action="{% url 'redis_metrics_categorize' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">Category Name</label>
            <div class="control">
                {{ form.category_name }}
            </div>
        </div>
        <div class="field">
            <div style="align-items: center; display: flex;" class="control has-icons-left">
                <label class="label mb-0">Metrics</label>
                <div class="search-box mt-3">
                    <span class="icon is-small" style="position: absolute;">
                        <i class="fas fa-search"></i>
                    </span>
                    <input id="metrics_search" class="input mb-3" type="text" placeholder="Search" autocomplete="off">
                </div>
            </div>
        <div class="control">
        <div class="columns is-multiline" id="metrics_list">
        {% for slug, choice in form.metrics.field.choices %}
        <div class="column is-3-desktop is-4-tablet is-2-mobile searchable-metric" id="id_{{ slug }}">
            <label class="checkbox" style="width: 100%;" for="id_options_{{ forloop.counter0 }}">
                <div class="box">
                    <div class="columns">
                        <div class="column is-1">
                            <input {% if slug in form.metrics.field.initial %}checked="checked"{% endif %} type="checkbox" id="id_options_{{ forloop.counter0 }}" value="{{ slug }}" name="metrics" />
                        </div>
                        <div class="column">
                            {{ choice }}
                        </div>
                    </div>
                </div>
            </label>
        </div>
        {% endfor %}
        </div>
        </div>
        </div>
        <p><input type="submit" value="Categorize Metrics" class="button is-primary mt-2"/></p>
        </form>
    {% endif %}

{% endblock %}

{% block bodyjs %}
<script type="text/javascript">
$(document).ready(function(){
    $("#metrics_search").on("input", function() {
        const value = $(this).val()
        if (value === "") {
            $('.searchable-metric').show();
        } else {
            $('.searchable-metric').hide();
            $('.searchable-metric[id*="' + value + '"]').show()
        }
    });
});
</script>
{% endblock %}
