{% extends "redis_metrics/base.html" %}

{% load redis_metric_tags %}

{% block titletext %}{{ slug }} <small>metrics</small>{% endblock %}
{% block breadcrumb %}
    <li class="is-active"><a>{{ slug }}</a></li>
{% endblock %}

{% block content %}
    <div class="tabs">
        <ul>
        {% for g in granularities %}
            <li {% if g in request.path %}class="is-active"{% endif %}><a href="{% url 'redis_metric_history' slug g %}">{{ g|title }}</a></li>
        {% endfor %}
        </ul>
    </div>

    {% metric_detail slug True %}

{% endblock %}
