{% extends "redis_metrics/base.html" %}
{% load url from future %}
{% load redis_metric_tags %}

{% block content %}
    <ul class="breadcrumb">
    <li><a href="{% url 'redis_metrics_list' %}">Metrics List</a></li>
    <li class="active">{{ slug }}</li>
    </ul>

    <h1>{{ slug }} <small>metrics</small></h1>
    <ul class="nav nav-pills history">
    {% for g in granularities %}
    <li><a href="{% url 'redis_metric_history' slug g %}">{{ g|title }}</a></li>
    {% endfor %}
    </ul>

    {% metric_detail slug True %}

{% endblock %}
