{% extends "redis_metrics/base.html" %}
{% load url from future %}
{% load redis_metric_tags %}
{% load redis_metrics_filters %}
{% load static %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'redis_metrics/js/Chart.min.js' %}"></script>
{% endblock %}


{% block content %}
    <h1><code>{{ slug }}</code> history</h1>
    <ul class="breadcrumb">
    <li><a href="{% url 'redis_metrics_list' %}">Metrics List</a></li>
    <li><a href="{% url 'redis_metric_detail' slug %}">{{ slug }} detail</a></li>
    <li class="active">{{ granularity }} history</li>
    </ul>

    <ul class="subnav history">
    <li><a href="{% url 'redis_metric_history' slug 'seconds' %}">Seconds</a></li>
    <li><a href="{% url 'redis_metric_history' slug 'minutes' %}">Minutes</a></li>
    <li><a href="{% url 'redis_metric_history' slug 'hourly' %}">Hourly</a></li>
    <li><a href="{% url 'redis_metric_history' slug 'daily' %}">Daily</a></li>
    <li><a href="{% url 'redis_metric_history' slug 'weekly' %}">Weekly</a></li>
    <li><a href="{% url 'redis_metric_history' slug 'monthly' %}">Monthly</a></li>
    <li><a href="{% url 'redis_metric_history' slug 'yearly' %}">Yearly</a></li>
    </ul>

    {# Menu to control the date from which we display metrics #}
    {% metrics_since slug 5 "history" granularity %}
    <div id="chart_div"><canvas id="chart"></canvas></div>
    <script type="text/javascript">
    var ctx = document.getElementById("chart").getContext("2d");
    var options = {animation:false, responsive: true};
    var data = {
      labels: [
        {% for k,v in metric_history %}'{{ k|strip_metric_prefix }}',{% endfor %}
      ],
      datasets: [
        {
            label: "{{ slug }}",
            fillColor: "rgba(220,110,110,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,110,110,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [{% for k,v in metric_history %}{{v|default:0}},{% endfor %}]
        },
      ]
    };
    var chart = new Chart(ctx).Line(data, options);
    </script>

    <table>
        <caption>{{ granularity }} metrics</caption>
        <thead>
            <tr><th>Key</th><th>Value</th></tr>
        </thead>
        <tbody>
            {% for key, value in metric_history %}
                <tr>
                    <td>{{ key|strip_metric_prefix }}</td>
                    <td class="value">{{ value|default_if_none:"-" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
