{% extends "redis_metrics/base.html" %}
{% load url from future %}
{% load redis_metric_tags %}


{% block content %}
    <h1><code>{{ slug }}</code> history</h1>
    <ul class="breadcrumb">
    <li><a href="{% url 'redis_metrics_list' %}">Metrics List</a></li>
    <li><a href="{% url 'redis_metric_detail' slug %}">{{ slug }} detail</a></li>
    <li class="active">{{ granularity }} history</li>
    </ul>

    <ul class="subnav history">
    {% for g in granularities %}
    <li><a href="{% url 'redis_metric_history' slug g %}">{{ g|title }}</a></li>
    {% endfor %}
    </ul>

    {# Menu to control the date from which we display metrics #}
    {% metrics_since slug 5 "history" granularity %}

    {# Include the metrics chart #}
    {% metric_history slug granularity since True %}

{% endblock %}
